@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
   
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    background: url('Switzerland-the-Alps-beautiful-night-sky-stars_1920x1200.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    
}
div{
     color:  white;
    background-color:transparent;
    backdrop-filter: blur(10px);
    height: 500px;
    width: 500px;
    border-radius :50px;
    padding: 10px;
   border:3px solid rgba(113,8,139,0.856);
   box-shadow: 0 10px 20px rgba(121, 11, 143, 0.856);
}
input {
    width: 100%;
    height: 45px;
   border-radius: 50px;
   padding: 10px;
   border: white 1px solid;
font-size: 16px;
  background: transparent;
 
}
 input::placeholder{
    color: white;
}


h1{
    color: white;
}
button{
   width: 100%;
   height: 45px;
   border-radius: 50px;
   border: white solid 1px;
   font-size: 16px;
}

@keyframes monAnimation {
    from {
        color: white;
    }

    to{
        opacity: 0.7;
    }

    }
    

button:hover{
    opacity: 0.7;
    animation: monAnimation 1s;
}

    
input:hover{
    opacity: 0.7;
}